body{
	background-color: #6BB9F0;
}

h1 {
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    width: 680px;
    line-height: 150%;
}

.container{
	margin: 0 auto;
	width: 600px;
	margin-top: 50px;	 
}

img{
	width: 150px;
}

svg{
	width: 150px;
}

.cloud1{
	float: right;
	position: relative;
	top: 100px;
}

.cloud2{
	float: left;
	position: relative;
	right: 200px;
	top: 150px;
}

.cloud3{
	float: right;
	position: relative;
	left: 200px;
	top: 150px;
}

.cloud4{
	float: left;
	position: relative;
	right: 280px;
	top: 100px;
}



p{
	font-family: 'Raleway', serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 190%;
	padding-top: 50px;
	width: 600px;
	margin-right: 50px;
	margin-left: 50px;
	padding-right: 150px;
	
}

.social_icon{
	width: 70px;
}

ul{
	width: 250px;
	margin: 0 auto;
}

li{
	list-style-type: none;
	display: inline-block;

}